In [18]:
import os

import pandas as pd
import numpy as np
import re
import requests
import bs4

## Plastic polution in the top 20 rivers 2015

In [13]:
fp = os.path.join('data', 'plastic-top-20-rivers.csv')
plastic_rivers = pd.read_csv(fp)

## ALPLA Werke Alwin Lehner GMBH & Co KG 2015-2018 
Data from sustainability report 2018
https://sustainability-report18.alpla.com/en/about-alpla

In [14]:
fp = os.path.join('data', 'alpla_company_stats.csv')
alpla_company_stats = pd.read_csv(fp)
alpla_company_stats

      2015      2016     2017      2018
0      3.3      3.25      3.4      3.66
1  16500.0  18300.00  19300.0  20800.00
2    159.0    172.00    176.0    178.00
3     73.0     69.00     72.0     72.00
4     42.0     43.00     45.0     46.00

In [22]:
# https://sustainability-report18.alpla.com/en/environment-environmental-impacts/energy
    
r = requests.get("https://sustainability-report18.alpla.com/en/environment-environmental-impacts/greenhouse-gas-emissions")  
urlText = r.text
soup = BeautifulSoup(urlText, 'html.parser')

## ALPLA Energy Consumption by Region 2018
https://sustainability-report18.alpla.com/sites/default/files/2019-07/zeichenflache_25.svg

In [24]:
alpla_consumption_region_2018 = pd.DataFrame(columns = ["Region", "Percentage"])
alpla_consumption_region_2018["Region"] = ["Western Europe", "Mexico and Central America", "Central & Eastern Europe",
                                           "North America", "Africa & Middle East & Turkey", "South America", "China", 
                                          "South East Asia", "India", "CW of Indep. States Russia", "Caribbean"]
alpla_consumption_region_2018["Percentage"] = [29.7, 16.2, 11.9, 9.1, 8.8, 8.4, 4.5, 3.2, 3.1, 3.1, 1.9]

alpla_consumption_region_2018.to_csv("data/alpla_consumption_region_2018.to_csv")

## ALPLA Development of Total Energy, Material and Specific Energy Consumption
https://sustainability-report18.alpla.com/sites/default/files/2019-07/totalenergie_en.svg

In [27]:
alpla_consumption_year = pd.DataFrame(columns = [2015, 2016, 2017, 2018], 
                                      index = ["Total Energy Consumption", 
                                               "Total Material Consumption", "ALPLA's global spec. energy consumption"])

alpla_consumption_year[2015] = [2099943, 1902277, 1104]
alpla_consumption_year[2016] = [2139207, 2023748, 1036]
alpla_consumption_year[2017] = [2126820, 2043155, 1041]
alpla_consumption_year[2018] = [2259146, 2165215, 1043]
alpla_consumption_year.to_csv("data/alpla_consumption_year.csv")

                                            2015     2016     2017     2018
Total Energy Consumption                 2099943  2139207  2126820  2259146
Total Material Consumption               1902277  2023748  2043155  2165215
ALPLA's global spec. energy consumption     1104     1036     1041     1043

## Comparison of Energy Consumption, Material Consumption, and Carbon Emission
https://sustainability-report18.alpla.com/sites/default/files/2019-07/zeichenflache_27_0.svg